

<p>
  <%= f.label :content, "Answer" %>
  <%= f.text_field :content %><br>
  <%= f.label "Check if it is correct Answer" %>
  <%= f.check_box :is_correct %>
  <%#= f.check_box :_destroy %>
  <%#= f.label :_destroy, "Remove" %>
</p>

